@{
    ViewBag.Title = "تعديل الجهاز";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*
---------------------------------------------------------------
الصفحة: تعديل الجهاز (Edit Device)
الوصف: صفحة لتحديث بيانات جهاز موجود في النظام
Page: Edit Device
Description: Page to update an existing device's information
---------------------------------------------------------------
*@
@model WepApp2.Models.Device


@section Styles {
    <!-- ربط ملف التنسيق المخصص -->
    <!-- Link to custom stylesheet -->
    <link href="~/css/Group1Style.css" rel="stylesheet" />
}

<!-- حاوية الصفحة -->
<!-- Main container for the edit form -->
<div class="container">
    <h2 class="mb-4"> تعديل بيانات الجهاز</h2>

    <!-- نموذج تعديل بيانات الجهاز -->
    <!-- Form to edit device data -->
    @using (Html.BeginForm("EditDevice", "Devices", FormMethod.Post, new { @id = "deviceForm" }))
    {

        <!-- معرف الجهاز -->
        <!-- Device ID (hidden) -->
        @Html.HiddenFor(m => m.DeviceID)

        <div class="row g-3">
            <!-- اسم الجهاز -->
            <!-- Device name -->
            <div class="col-md-6">
                @Html.LabelFor(m => m.DeviceName, "اسم الجهاز")
                @Html.TextBoxFor(m => m.DeviceName, new { @class = "form-control", required = "required" })
            </div>


            <!-- نوع التقنية -->
            <!-- Technology type -->
            <div class="col-md-6">
                @Html.LabelFor(m => m.TechnologyId, "نوع التقنية")
                @Html.DropDownListFor(m => m.TechnologyId,
                new SelectList(ViewBag.Technologies, "TechnologyID", "TechnologyName", Model.TechnologyId),
                        "اختر نوع التقنية",
                        new { @class = "form-select", required = "required" })

            </div>



            <!-- الرقم التسلسلي -->
            <!-- Serial number -->
            <div class="col-md-6">
                @Html.LabelFor(m => m.SerialNumber, "الرقم التسلسلي")
                @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control", required = "required" })
            </div>



            <!-- الموقع -->
            <!-- Device location -->
            <div class="col-md-6">
                @Html.LabelFor(m => m.DeviceLocation, "الموقع")
                @Html.TextBoxFor(m => m.DeviceLocation, new { @class = "form-control", required = "required" })
            </div>


            <!-- اسم الشركة المصنعة -->
            <!-- Manufacturer name -->
            <div class="col-md-6">
                @Html.LabelFor(m => m.BrandName, "الشركة المصنعة")
                @Html.TextBoxFor(m => m.BrandName, new { @class = "form-control", required = "required" })
            </div>


            <!-- طراز الجهاز -->
            <!-- Device model -->
            <div class="col-md-6">
                @Html.LabelFor(m => m.DeviceModel, "الطراز")
                @Html.TextBoxFor(m => m.DeviceModel, new { @class = "form-control", required = "required" })
            </div>


            <!-- الحالة  -->
            <!-- Device status (hidden) -->
            @Html.HiddenFor(m => m.DeviceStatus)
        </div>


        <!-- أزرار التحكم -->
        <!-- Form action buttons -->
        <div class="mt-4 d-flex gap-2">
            <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
        <a href="@Url.Action("Devices", "Devices")" class="btn btn-secondary">↩ رجوع</a>
        </div>
    }
</div>
